<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo_coding.png" id="logoPrincipal">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/alan-ferrada-06a344232/"><img src="../../../assets/logo_linkedin.png" id="linkedin" class="neon"></a>
                <a href="https://github.com/Al4nX"><img src="../../../assets/logo_github.png" id="github" class="neon"></a> 
                <button type="button" class="btn btn-neon-red">Ingrese</button>

            </div>  
        </div>
    </div>
</div>