.about-me {
    padding: 20px;
  }
  
  .about-me-content {
    text-align: left;
  }
  
  #ft-perfil {
    width: 100%;
    border-radius: 50%;
    box-shadow: 3px 3px 3px black;
  }
  
  .job-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  @media(min-width:576px){
    #ft-perfil {
      width: 80%;
      max-width: 200px;
      position: absolute;
      left: 5%;
      top: 5%;
    }
    
    #nombre {
      margin-top: 20px;
    }
  }
  
  @media(max-width:575px){
    #ft-perfil {
      width: 50%;
      max-width: 150px;
      position: relative;
      margin: 0 auto;
    }
    
    #nombre {
      margin-top: 10px;
    }
  }
  