<div class="row>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.png" alt="" class="img-fluid" id="ft-perfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre"><b>Alan Daniel Ferrada</b></h1>
        <p>FullStack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8git">
        <span>
            <h1>About Me</h1>
            <p>ipsum dolor sit amet consectetur adipisicing elit. Numquam, laudantium id esse asperiores repellendus adipisci,
                quibusdam modi voluptates accusamus aspernatur facere minus repudiandae magni in blanditiis. Ut fuga enim mollitia?</p>
        </span>
    </div>

</div>