<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(year)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam possimus deserunt incidunt cumque.
                Debitis ullam voluptate vel iusto facere minima obcaecati delectus ducimus, necessitatibus reiciendis!
                Nesciunt commodi saepe provident? Magnam!
            </p>
            <li>
                <h1>Trabajo 2</h1> - <h3>(year)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam possimus deserunt incidunt cumque.
                Debitis ullam voluptate vel iusto facere minima obcaecati delectus ducimus, necessitatibus reiciendis!
                Nesciunt commodi saepe provident? Magnam!
            </p>
            <li>
                <h1>Trabajo 3</h1> - <h3>(year)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam possimus deserunt incidunt cumque.
                Debitis ullam voluptate vel iusto facere minima obcaecati delectus ducimus, necessitatibus reiciendis!
                Nesciunt commodi saepe provident? Magnam!
            </p>
        </ul>
    </div>
</div>